################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SRX036971.fastq
/SRR061908.fastq
/shorter_SRX036971.fastq
/E. coli genome.fna
/betapapillomavirus.fna
/.vs/VSWorkspaceState.json
/.vs/K-mer-search/v15/.suo
/short_SRX036971.fastq
/SRA references.txt
/filtered_SRR061908.fastq
/filter.py
/ecoli.fastq
/.vs/k-mer search/v15/.suo
/.vs/slnx.sqlite